@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="thumbnail text-center">
    <img id="bg"
         src="https://photos.altai-travel.com/1920x1040/fjords-norvege-iles-lofoten-73.jpg"
         data-width="1920" data-height="1040">
    <div class="caption">
        <p>Norvège</p>
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
    </div>
</div>


@*<div class="row">
    <div class="col-md-4">
        <h2>getting started</h2>
        <p>
            asp.net mvc gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?linkid=301865">learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>get more libraries</h2>
        <p>nuget is a free visual studio extension that makes it easy to add, remove, and update libraries and tools in visual studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?linkid=301866">learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>web hosting</h2>
        <p>you can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?linkid=301867">learn more &raquo;</a></p>
    </div>
</div>*@