@model IEnumerable<Models.ResortInfo>
@using GridMvc.Html

<h3>@ViewBag.Message</h3>

<div>
    @if (Model != null && Model.Count() > 0)
    {
        <div class="panel panel-primary pre-scrollable">
            @Html.Grid(Model).Named("IndividualResortData").Columns(columns =>
       {
           columns.Add(col => col.Name).Titled("Name");
           columns.Add(col => col.Country).Titled("Country");
           columns.Add(col => col.ContactNumber).Titled("ContactNumber");
       
       }).WithPaging(4).Sortable()
        </div>
    }

</div>

<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#btn1").click(function(){
                $("#test1").text("Hello world!");
            });
            $("#btn2").click(function(){
                $("#test2").html("<b>Hello world again!</b>");
            });
            $("#btn3").click(function(){
                $("#test3").val("Dolly");
            });
        });
    </script>
</head>
<body>

    <p id="test1">This is a paragraph.</p>
    <p id="test2">This is another paragraph.</p>

    <p>Input field: <input type="text" id="test3" value="Mickey Mouse"></p>

    <button id="btn1">Set Text</button>
    <button id="btn2">Set HTML</button>
    <button id="btn3">Set Value</button>

</body>
</html>


<br />